.btn-primary {
    background: rgb(0, 179, 255) !important;
}
.btn-primary:hover {
    background: rgb(2, 157, 223) !important;
}

.btn-warning {
    background-color: rgb(24, 244, 112) !important;
}

.btn-warning:hover {
    background-color: rgb(14, 184, 82) !important;
}

.btn-danger {
    background-color: rgb(234, 29, 29) !important;
}

.btn-danger:hover {
    background-color: rgb(178, 14, 14) !important;
}

.thead-info {
    background-color: rgb(252, 249, 255) !important;
}